<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <title>Hello, world!</title>
</head>

<body>
    <nav class="navbar navbar-light bg-light" style="height: 100px;background-color: #F7F8FD;">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/images/icons8-menu.png" alt="" width="28" height="19.6">
            </a>
            <a class="navbar-brand" href="#">
                <img src="assets/images/logo.png" alt="" width="224" height="27">
            </a>
            <a class="navbar-brand" href="#" style="margin-right: 0%;">
                <img src="assets/images/icons8-create.png" alt="" width="26" height="26">
            </a>
        </div>
    </nav>
    <div class="container" style="height:80%;">
        <div style="display: flex;
        justify-content: center;
        margin-top: 15px;">
            <a href="#" class="btn-small" style="height: 37px;
            padding: 10px 25px;">Year 1 <img src="assets/images/down.svg" width="8.37" height="11" alt="" style="margin-left: 10px;"></a>
        </div>
        <div class="text-circle" style="margin-top: 2em !important;">
            <p>Human Lives</p>
            <p>-1 - -10</p>
        </div>
        <img src="assets/images/arrow.svg" alt="" style="margin-left: 9em;transform: rotate(-60deg);">
        <div class="text-circle" style="margin-left: 50px;">
            <p>.01-.1</p>
            <p>raise in temperature</p>
        </div>
        <img src="assets/images/arrow.svg" alt="" style="margin-left: 5em;transform: rotate(-65deg);">
        <div class="text-circle" style="margin-left: 0em;">
            <p>.01 tons of CO2</p>
        </div>
        <img src="assets/images/arrow.svg" alt="" style="margin-left: 5em;transform: rotate(255deg);">
        <div class="text-circle" style="margin-left: 3em;">
            <p>Flight from SFO to NYC</p>
        </div>
        <!-- <img src="assets/images/arrow.svg" alt="" style="margin-left: 7em;transform: rotate(-45deg);">
        <div class="text-circle" style="margin-left: 0em;">
            <p>Ter</p>
            <p>.05</p>
        </div> -->
    </div>
    <a href="#" class="add-btn"><img src="assets/images/icons8-add.png" alt="" width="55" height="55"></a>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>

</html>