<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <title>Hello, world!</title>
</head>

<body>
    <nav class="navbar navbar-light bg-light" style="height: 100px;background-color: #F7F8FD;">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/images/icons8-menu.png" alt="" width="28" height="19.6">
            </a>
            <a class="navbar-brand" href="#">
                <img src="assets/images/logo.png" alt="" width="224" height="27">
            </a>
            <a class="navbar-brand" href="#" style="margin-right: 0%;">
                <img src="assets/images/icons8-create.png" alt="" width="26" height="26">
            </a>
        </div>
    </nav>
    <div class="container" style="height:80%;">
        <div style="display: flex; flex-direction: column;justify-content: space-between; align-items: center;padding: 1em;">
            <div style="display: flex; flex-direction: column; align-items: center;">
                <div style="display: flex;flex-direction: row;justify-content: space-between; margin-bottom: 1em;">
                    <div>
                        <img src="assets/images/dp.png" alt="" width="112" height="112">
                        <p style="text-align: center; font-size: 36px;"><b>John S.</b></p>
                    </div>
                    <img src="assets/images/receive_cash.svg" alt="" width="49.99" height="42.09" style="margin-top: 2em !important;margin: 10px;">
                    <div>
                        <img src="assets/images/dp.png" alt="" width="112" height="112">
                        <p style="text-align: center; font-size: 36px;"><b>John S.</b></p>
                    </div>
                </div>
                <div style="margin-bottom: 1em;">
                    <p style="text-align: center;">Amount</p>
                    <h1 style="font-size: 5em;">$150</h1>
                </div>
                <div style="margin-bottom: 1em;">
                    <h1>Transaction sent!</h1>
                </div>
                <div style="margin-bottom: 1em;">
                    <h1 style="font-size: 2.8em; text-align: center; color: #535164;">May it benefit all beings.</h1>
                </div>
            </div>

            <a href="#" class="btn-small" style="height: 37px;
            padding: 10px 25px;">Done</a>
        </div>
    </div>
    <!-- <a href="#" class="add-btn"><img src="assets/images/icons8-add.png" alt="" width="55" height="55"></a> -->





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>

</html>