<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/styleV2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <title>Hello, world!</title>
</head>

<body>
    <nav class="navbar navbar-light bg-light" style="height: 100px;background-color: #F7F8FD;">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/images/icons8-menu.png" alt="" width="28" height="19.6">
            </a>
            <a class="navbar-brand" href="#">
                <img src="assets/images/logo.png" alt="" width="224" height="27">
            </a>
            <a class="navbar-brand" href="#" style="margin-right: 0%;">
                <img src="assets/images/icons8-create.png" alt="" width="26" height="26">
            </a>
        </div>
    </nav>
    <ul class="nav nav-pills nav-fill mt-2 mx-2 ">
        <li class="nav-item">
            <a class="nav-link active color-bg" aria-current="page" href="#">Impact Flow</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Impact Discussion</a>
        </li>
    </ul>
    <div class="container" style="height:80%;">
        <div class="discussions">
            <div class="tread d-flex flex-row mt-3">
                <img src="assets/images/dp.png" alt="" width="48" height="48" class="me-2">
                <div class="context">
                    <h6 class="username  color-text">
                        @John1
                    </h6>
                    <p class="message">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ad totam debitis. Ratione molestiae voluptatem pariatur doloribus exercitationem nisi quae nihil! Officiis eaque doloribus, ab incidunt esse labore laborum? Consequatur.
                    </p>
                </div>
            </div>
            <div class="tread d-flex flex-row mt-3">
                <img src="assets/images/dp.png" alt="" width="48" height="48" class="me-2">
                <div class="context">
                    <h6 class="username color-text">
                        @John2
                    </h6>
                    <p class="message">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ad totam debitis. Ratione molestiae voluptatem pariatur doloribus exercitationem nisi quae nihil! Officiis eaque doloribus, ab incidunt esse labore laborum? Consequatur.
                    </p>
                </div>
            </div>
        </div>
        <div class="send">
            <input type="text" name="message" id="" value="" placeholder="Message">
            <a href="# " class="send-btn "><img src="assets/images/send-btn.svg " alt=" " width="46 " height="47"></a>
        </div>

    </div>
    <!-- <a href="# " class="add-btn "><img src="assets/images/icons8-add.png " alt=" " width="55 " height="55 "></a> -->





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js " integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj " crossorigin="anonymous "></script>

</body>

</html>