<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <title>Hello, world!</title>
</head>

<body>
    <nav class="navbar navbar-light bg-light ">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/images/icons8-menu.png" alt="" width="28" height="19.6">
            </a>
            <a class="navbar-brand" href="#">
                <img src="assets/images/logo.png" alt="" width="224" height="27">
            </a>
            <a class="navbar-brand" href="#" >
                <img src="assets/images/icons8-create.png" alt="" width="26" height="26">
            </a>
        </div>
    </nav>
    <div class="container" >
        <div>
            <div class="content-wrapper" style="">
                <div class="content-component">
                    <div class="content-body"  >
                        <img src="assets/images/dp.png" alt="" width="48" height="48">
                        <img class="image-set" src="assets/images/arrow.svg" alt="" width="18.01" height="13.72" >
                        <img src="assets/images/dp.png" alt="" width="48" height="48">
                    </div>
                    <p><b>John S.</b> paid <b>Lyla A.</b></p>
                    <p><b>$50</b></p>
                </div>
                <div class="content-impact" >
                    <p class="content-uber" >Uber Ride</p>
                    <a href="#" class="btn-small">Analyse Impact</a>
                </div>
                <div>
                    <a href="#"><img src="assets/images/up-arrow.svg" width="8.37" height="19" alt=""></a>
                    <p class="content-margin" >1</p>
                    <a href="#"><img src="assets/images/down_arrow.svg" width="8.37" height="19" alt=""></a>
                </div>
            </div>
             <div class="content-wrapper" style="">
                <div class="content-component">
                    <div class="content-body"  >
                        <img src="assets/images/dp.png" alt="" width="48" height="48">
                        <img class="image-set" src="assets/images/arrow.svg" alt="" width="18.01" height="13.72" >
                        <img src="assets/images/dp.png" alt="" width="48" height="48">
                    </div>
                    <p><b>John S.</b> paid <b>Lyla A.</b></p>
                    <p><b>$50</b></p>
                </div>
                <div class="content-impact" >
                    <p class="content-uber" >Uber Ride</p>
                    <a href="#" class="btn-small">Analyse Impact</a>
                </div>
                <div>
                    <a href="#"><img src="assets/images/up-arrow.svg" width="8.37" height="19" alt=""></a>
                    <p class="content-margin" >1</p>
                    <a href="#"><img src="assets/images/down_arrow.svg" width="8.37" height="19" alt=""></a>
                </div>
            </div>
            <div class="content-wrapper" style="">
                <div class="content-component">
                    <div class="content-body"  >
                        <img src="assets/images/dp.png" alt="" width="48" height="48">
                        <img class="image-set" src="assets/images/arrow.svg" alt="" width="18.01" height="13.72" >
                        <img src="assets/images/dp.png" alt="" width="48" height="48">
                    </div>
                    <p><b>John S.</b> paid <b>Lyla A.</b></p>
                    <p><b>$50</b></p>
                </div>
                <div class="content-impact" >
                    <p class="content-uber" >Uber Ride</p>
                    <a href="#" class="btn-small">Analyse Impact</a>
                </div>
                <div>
                    <a href="#"><img src="assets/images/up-arrow.svg" width="8.37" height="19" alt=""></a>
                    <p class="content-margin" >1</p>
                    <a href="#"><img src="assets/images/down_arrow.svg" width="8.37" height="19" alt=""></a>
                </div>
            </div>
            <div class="content-wrapper" style="">
                <div class="content-component">
                    <div class="content-body"  >
                        <img src="assets/images/dp.png" alt="" width="48" height="48">
                        <img class="image-set" src="assets/images/arrow.svg" alt="" width="18.01" height="13.72" >
                        <img src="assets/images/dp.png" alt="" width="48" height="48">
                    </div>
                    <p><b>John S.</b> paid <b>Lyla A.</b></p>
                    <p><b>$50</b></p>
                </div>
                <div class="content-impact" >
                    <p class="content-uber" >Uber Ride</p>
                    <a href="#" class="btn-small">Analyse Impact</a>
                </div>
                <div>
                    <a href="#"><img src="assets/images/up-arrow.svg" width="8.37" height="19" alt=""></a>
                    <p class="content-margin" >1</p>
                    <a href="#"><img src="assets/images/down_arrow.svg" width="8.37" height="19" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <!-- <a href="#" class="add-btn"><img src="assets/images/icons8-add.png" alt="" width="55" height="55"></a> -->





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>

</html>